<div class="todo-container">
  <h2>My Todo List</h2>

  <section class="addtask">
    <input [(ngModel)]="newTask" placeholder="Add a new task..." aria-label="New Task">
    <button type="button" (click)="addTask()">+</button>
  </section>

  <ul class="taskList">
    <li *ngFor="let todoItem of todoList; let i = index" 
        [class.completed]="todoItem.completed"
        [@fadeAnimation]>
      <label>
        <input type="checkbox" (change)="toggleCompleted(i)" [checked]="todoItem.completed">
        <span>{{ todoItem.task }}</span>
      </label>
      <button type="button" class="deleteButton" (click)="deleteTask(todoItem.id)" aria-label="Delete Task">
        ✖
      </button>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
